.opendisplay {
    position:absolute;
    width:200px;
    background-color: rgb(233, 230, 230);
    padding: 12px;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.2);
    border-width: 1px;
    border-style: solid;
    margin-top: -12px;
    margin-left: 40px;
    font-size: x-small; 
}

